apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm-exporter.fullname" . }}
  labels:
    {{- include "helm-exporter.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{ toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "helm-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "helm-exporter.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
    {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- range .Values.imagePullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{ include "helm-exporter.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- if .Values.config }}
            - "-config"
            - "/config/config.yaml"
            {{- end }}
            {{- if .Values.namespaces }}
            - "-namespaces"
            - {{ .Values.namespaces | quote }}
            {{- end }}
            {{- if .Values.namespacesIgnore }}
            - "-namespaces-ignore"
            - {{ .Values.namespacesIgnore | quote }}
            {{- end }}
            {{- if not .Values.infoMetric }}
            - "-info-metric=false"
            {{- end }}
            {{- if not .Values.timestampMetric }}
            - "-timestamp-metric=false"
            {{- end }}
            {{- if not .Values.latestChartVersion }}
            - "-latest-chart-version=false"
            {{- end }}
            {{- if .Values.statusInMetric }}
            - "-status-in-metric=true"
            {{- end }}
            {{- with .Values.intervalDuration }}
            - "-interval-duration={{ . }}"
            {{- end }}
          {{- if .Values.env }}
          env:
{{ toYaml .Values.env | indent 12}}
          {{- end }}
          ports:
            - name: http
              containerPort: 9571
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          startupProbe:
            {{- toYaml .Values.startupProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.config }}
          volumeMounts:
            - mountPath: /config
              name: {{ include "helm-exporter.fullname" . }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.config }}
      volumes:
      - name: {{ include "helm-exporter.fullname" . }}
        configMap:
          name: {{ include "helm-exporter.fullname" . }}
    {{- end }}
