apiVersion: v1
kind: Service
metadata:
  name: {{ include "helm-exporter.fullname" . }}
  labels:
    {{- include "helm-exporter.labels" . | nindent 4 }}
  annotations:
  {{- if not .Values.serviceMonitor.create }}
    {{ .Values.service.customScrapeEnableAnnotation | default "prometheus.io/scrape: \"true\"" }}
  {{- end }}
  {{- if .Values.service.annotations }}
{{ .Values.service.annotations | toYaml | indent 4}}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "helm-exporter.selectorLabels" . | nindent 4 }}
