name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
    steps:
    - uses: actions/setup-go@v4
      with:
        go-version: '1.20'
      id: go

    - uses: actions/checkout@v3

    - run: |
        go get
        go build -v ./...

    - run: helm template helm > kubeval

    - uses: instrumenta/kubeval-action@5915e4adba5adccac07cb156b82e54c3fed74921
      with:
        files: kubeval

    - uses: igabaydulin/helm-check-action@0.2.0
      env:
        CHART_LOCATION: ./helm
        CHART_VALUES: ./helm/ci/values.yaml


