name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v6
      with:
        go-version: '1.24'
      id: go

    - uses: actions/checkout@v6

    - run: |
        go build -v

    - run: helm template helm > kubeval

    - uses: instrumenta/kubeval-action@5915e4adba5adccac07cb156b82e54c3fed74921
      with:
        files: kubeval

    - uses: igabaydulin/helm-check-action@0.2.1
      env:
        CHART_LOCATION: ./helm
        CHART_VALUES: ./helm/ci/values.yaml


