name: Chart

on:
  push:
    tags: ['*']

jobs:
  chart:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: actions/setup-go@v5
      with:
        go-version: 1.20

    - uses: actions/checkout@v5
      with:
        repository: sstarcher/helm-charts
        token: ${{ secrets.ACCESS_TOKEN }}
        path: helm-charts

    - run: ./helm-charts/add.sh

    - uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.ACCESS_TOKEN }}
        directory: helm-charts
        repository: sstarcher/helm-charts



